
.ativo{
    color: green;
}


.inativo{
    color: red;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link {
    color: white;
    font-weight: bold;
    border: 2px solid #005200;
    background-color: #005200;
    margin-bottom: 5px;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link:hover{
    background-color: #008B00;
}
#datatable-alunos_filter{
    display: inline;
    float: right;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link{
    background-color: red !important;
    border-color: red;
}