
.ativo{
    color: green;
}


.inativo{
    color: red;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link {
    color: #005200;
    font-weight: bold;
    margin-bottom: 5px;
}

#datatable_filter{
    float: right;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link{
    background-color: #005200;
    border-color: #005200;
    color:white;
}